<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761493502026-ipuusplm66ikrp6ci396m8tfa3urq4sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761493502026-ipuusplm66ikrp6ci396m8tfa3urq4sb</string>
	<key>API_KEY</key>
	<string>AIzaSyBnS4flWmohNpcM8lIucQQybQZiwUKo-tk</string>
	<key>GCM_SENDER_ID</key>
	<string>761493502026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claseIOS.ProyectoFinaliOS</string>
	<key>PROJECT_ID</key>
	<string>doctortome-564f7</string>
	<key>STORAGE_BUCKET</key>
	<string>doctortome-564f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761493502026:ios:5bfbf930b74ed482cb0eb3</string>
</dict>
</plist>